@model IEnumerable<Workshop>
@{
    <table>
        <thead>
        <th scope="col">Title</th>
        <th scope="col">Information</th>
        <th scope="col">Statics</th>
        <th scope="col">Action</th>
        </thead>
        <tbody>
            @foreach (var workShop in Model)
            {
                <tr>
                    <th scope="row">@workShop.Title</th>
                    <td>@workShop.Information</td>
                    <td>@(workShop.Enrollments.Count)/@workShop.Capacity</td>
                    <td>@if (!workShop.IsFull)
                        {
                        <a asp-action="EnrollForm">Enroll</a>
                        }</td>
                </tr>
            }
        </tbody>
    </table>
}
